body > .row > .header {
  padding-top: .7rem;
  padding-bottom: .7rem;
  background-color: #097700;
  height: 100%;
}

.head {
  font-size: 0.9rem;
}

.logo_main{
  max-height: 65px;
  margin: 0 25px;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 0.93rem;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a, .sidenav span {
  padding: 8px 8px 8px 25px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

h1 {
  display: inline;
  color: white;
  font-size: 24px;
}

h2 {
   font-weight: 600;
}

h3 {
   font-size: 1em;
   font-weight: 600;
}

.pagination {
  background-color: #097700;
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding: 0;
}

.pagination a {
  font-family: "Lato", sans-serif;
  color: #fff;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  margin: 25px 13px;
}

.pagination a:first-child {
  float: left;
}
.pagination a:last-child {
  float: right;
  margin-right: 30px;
}

.pagination .active {
  background-color: #FFEF00;
  border-radius: 10px;
  color: #000;
  font-weight: 600;
}

.red {
  color: red;
}

.content {
  padding: 100px 20px 20px 20px;
  height: -webkit-fill-available;
  line-height: 1.3;
}

#content_main {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  position: absolute;
  height: 100%;
  z-index: -1000;
}

#lang-select {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #FFF;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
  display: none;
}

.lang-header {
  text-decoration: none;
  transition: background-color .3s;
  margin: 20px 0;
  font-size: 30px;
}

#lang-btn {
  height: 35px;
}

#lang-div {
  width: 100%;
}

#lang-close {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  font-size: 50px;
  width: 50px;
}

#lang-select center {
  margin: 160px 0;
}

#lang-select img {
  margin: 15px 30px;
}

th, td {
  padding: 2px 5px;
}

th {
  border-bottom: solid 1px black;

}

td:nth-child(3), th:nth-child(3) {
  padding-left: 50px;
}

@keyframes fadeIn {
  0% {
    visibility: hidden;
  }
  99% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}

.pwa-animation {
  animation-fill-mode: forwards;
}

.head {
  position: fixed;
  width: 105%;
  height: 85px;
  background-color: #097700;
}

.sidenav .tel {
  color: #FFEF00;
}